<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}m(ux){% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
<div class="animated-pixels-background"></div>

    <main class="container mx-auto flex-1 py-12 px-6" content>
        {% block content %}{% endblock %}
    </main>

<div class="vertical-links">
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('streams') }}">Streams</a></li>
        <li><a href="{{ url_for('apply') }}">Apply</a></li>
        <li><a href="https://ra.co/events/2023782"  target="_blank">Attend</a>
        <li><a href="https://www.instagram.com/muxflow/"  target="_blank">Socials</a></li>
    </ul>
</div>

<div class="mobile-nav">
    <img src="{{ url_for('static', filename='assets/Logo.svg') }}" alt="Logo" class="mobile-logo">
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('streams') }}">Streams</a></li>
        <li><a href="{{ url_for('apply') }}">Apply</a></li>
        <li><a href="https://ra.co/events/2023782" target="_blank">Attend</a></li>
        <li><a href="https://www.instagram.com/muxflow/" target="_blank">Socials</a></li>
    </ul>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div>
      {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>  
</body>

</html>
